<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Candle" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script async defer data-domain="distantprovince.by/candle" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <header class="">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand has-background-grey-dark">
          <%= link "Candle", to: Routes.new_game_path(@conn, :index), class: "navbar-item has-text-white-ter" %>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <%= link "New Game", to: Routes.new_game_path(@conn, :index), class: "navbar-item"%>
            <%= link "About", to: Routes.page_path(@conn, :about), class: "navbar-item"%>
          </div>
        </div>
      </nav >
    </header>
    <%= @inner_content %>
  </body>
</html>
